default:
  serverbase:       'https://mii-agiop-cord.life.uni-leipzig.de/fhir/'

# if you need to authenticate on your fhir server, set username and password
  username:         ''
  password:         ''

# if you need to use a proxy server (e.G. http://proxy:port )
  http_proxy:       ''
  https_proxy:      ''

# put fhir server adress here, if you need to bypass the proxy for accessing it locally
  #no_proxy:         ''

# TRUE = peer verification anschalten, FALSE = peer verification ausschalten   
  ssl_verify_peer: FALSE
  
# custom parameters for conditions resources on local fhir server
# use 'http://fhir.de/CodeSystem/dimdi/icd-10-gm' or 'http://fhir.de/CodeSystem/bfarm/icd-10-gm'
  #icd_code_system:  'http://fhir.de/CodeSystem/bfarm/icd-10-gm'

# change, if your local fhir server does not have recordedDate, e.g. onsetDateTime
  recordedDate_col: ''